In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/DorianGray/character-tagging/DorianGray.entities', delimiter='\t')
df

       COREF  start_token  end_token  prop  cat               text
0        358            0          1   NOM  FAC         The studio
1        359           22         23   NOM  FAC         the garden
2        360           63         63  PRON  PER                 he
3        360           71         71  PRON  PER                his
4        112           77         79  PROP  PER  Lord Henry Wotton
...      ...          ...        ...   ...  ...                ...
14250   3074        96002      96004   NOM  PER         a dead man
14251   3074        96014      96014  PRON  PER                his
14252   3074        96017      96017  PRON  PER                 He
14253   1831        96032      96032  PRON  PER               they
14254   1831        96038      96038  PRON  PER               they

[14255 rows x 6 columns]

In [3]:
df_characters = df[df.cat == 'PER']
df_characters

       COREF  start_token  end_token  prop  cat               text
2        360           63         63  PRON  PER                 he
3        360           71         71  PRON  PER                his
4        112           77         79  PROP  PER  Lord Henry Wotton
5        361          115        115  PRON  PER             theirs
6        112          156        156  PRON  PER                him
...      ...          ...        ...   ...  ...                ...
14250   3074        96002      96004   NOM  PER         a dead man
14251   3074        96014      96014  PRON  PER                his
14252   3074        96017      96017  PRON  PER                 He
14253   1831        96032      96032  PRON  PER               they
14254   1831        96038      96038  PRON  PER               they

[13249 rows x 6 columns]

In [4]:
len(df_characters.groupby(df.COREF))

1686

In [5]:
characters = {}

for coref_id, coref_df in df_characters.groupby(df.COREF):
    try:
        proper_noun_df = coref_df[coref_df.prop == 'PROP']
        if not proper_noun_df.empty:
            name = proper_noun_df.text[proper_noun_df.text.str.len() == proper_noun_df.text.str.len().max()].unique()[0]
            characters[coref_id] = name
    except:
        continue

characters

{3: 'The Grosvenor',
 11: 'Paris',
 31: 'Berwick',
 88: 'young Perth',
 91: 'Selby',
 94: 'Venice',
 112: 'Lord Henry Wotton',
 113: 'Basil Hallward',
 115: 'Mr. Dorian Gray',
 116: 'Poor Lady Brandon',
 117: 'Conscience',
 118: 'Mr. Hallward',
 119: 'poor Southwark',
 120: 'the Venetians',
 121: 'Antinous',
 122: 'Greek',
 123: 'Agnew',
 124: 'One',
 125: 'Lord Goodbody',
 126: 'Lady Agatha',
 127: 'Parker',
 128: 'Mind',
 129: 'Schumann',
 130: 'Aunt Agatha',
 131: 'Good God',
 132: 'June',
 133: 'White',
 134: 'Lord Fermor',
 135: 'Society',
 136: 'Isabella',
 137: 'Uncle George',
 138: 'the last Lord Kelso',
 139: 'Lady Margaret Devereux',
 140: 'Egad',
 141: 'the jarvies',
 143: 'Carlington',
 144: 'the Americans',
 145: 'Eve',
 146: 'Worlds',
 147: 'Plato',
 148: 'Buonarotti',
 149: 'Sir Thomas Burdon',
 150: 'Mr. Erskine of Treadley',
 151: 'Mrs. Vandeleur',
 152: 'Lord Faudel',
 153: 'Duchess',
 154: 'Humour',
 155: 'Facts',
 156: 'Omar',
 157: 'Willis',
 158: 'the English',
 159: 'Clodion',
 160: 'Margaret of Valois',
 161: 'Manon Lescaut',
 162: 'Lady Henry',
 163: 'Poor Victoria',
 164: 'Wagner',
 165: 'Lady Thornbury',
 166: 'Miss Sibyl Vane',
 167: 'Rouge',
 168: 'The Idiot Boy',
 169: 'Juliet',
 170: 'Shakespeare',
 171: 'the Romeo',
 172: 'Mercutio',
 173: 'Rosalind',
 174: 'Imogen',
 175: 'The Bard',
 176: 'Lady Capulet',
 177: 'The Jew',
 178: 'Dear Basil',
 179: 'Giordano Bruno',
 180: 'Mother',
 181: 'Mrs. Vane',
 182: 'Mr. Isaacs',
 183: 'James Vane',
 184: 'Prince Charming',
 185: 'Tom Hardy',
 186: 'Ned Langton',
 187: 'Trunks',
 188: 'Messalina',
 189: 'Lord Radley',
 190: 'Nature',
 191: 'Miranda',
 192: 'Caliban',
 193: 'Motionless',
 194: 'Portia',
 195: 'Beatrice',
 196: 'Cordelia',
 197: 'Victor',
 198: 'Sibyl-',
 199: 'Life',
 200: 'Lady Hampshire',
 201: 'Desdemona',
 202: 'Ophelia',
 203: 'Webster',
 204: 'Ford',
 205: 'Cyril Tourneur',
 206: 'Patti',
 207: 'Poor Sibyl',
 208: 'Death',
 209: 'Narcissus',
 210: 'the Greeks',
 211: 'Lady Gwendolen',
 212: 'Gautier',
 213: 'Georges Petit',
 215: 'Adrian Singleton',
 216: 'Old Mrs. Leaf',
 217: 'Michelangelo',
 218: 'Winckelmann',
 219: 'Mr. Hubbard',
 220: 'Old Florentine',
 221: 'Lady Radley',
 222: 'Mr. Danby',
 223: 'Dr. Birrell',
 224: 'Dante',
 225: 'imperial Neronian Rome',
 226: 'Christ',
 227: 'slim turbaned Indians',
 228: 'Schubert',
 229: 'Chopin',
 230: 'Beethoven',
 231: 'Alfonso de Ovalle',
 232: 'the Mexicans',
 233: 'Bernal Diaz',
 234: 'Cortes',
 235: 'Anne de Joyeuse',
 236: 'Amsterdam',
 237: 'Alexander VI .',
 238: 'Emathia',
 239: 'Philostratus',
 240: 'Pierre de Boniface',
 241: 'Leonardus Camillus',
 242: 'Democritus',
 243: 'John the Priest',
 244: 'Lodge',
 245: 'Marco Polo',
 246: 'King Perozes',
 247: 'the Huns',
 248: 'the Duke de Valentinois',
 249: 'Louis XII',
 250: 'Brantome',
 251: 'Charles the Rash',
 252: 'Richard II',
 253: 'Hall',
 254: 'Henry VIII',
 255: 'Edward II',
 256: 'Piers Gaveston',
 257: 'Henry II',
 258: 'Athena',
 259: 'Nero Caesar',
 260: 'Apollo',
 261: 'King Chilperic',
 262: 'Charles of Orleans',
 263: 'Queen Joan of Burgundy',
 264: 'Catherine de Medicis',
 265: 'Louis XIV',
 266: 'St. Sebastian',
 267: 'Philip Herbert',
 268: 'Francis Osborne',
 269: 'Queen Elizabeth',
 270: 'King James',
 271: 'Sir Anthony Sherard',
 272: 'Lady Elizabeth Devereux',
 273: 'George Willoughby',
 274: 'Lord Ferrars',
 275: 'Mrs. Fitzherbert',
 276: 'Tiberius',
 277: 'Elephantis',
 278: 'Caligula',
 279: 'Domitian',
 280: 'Elagabalus',
 281: 'Filippo',
 282: 'Pietro Barbi',
 283: 'Paul the Second',
 284: 'Gian Maria Visconti',
 285: 'Fratricide',
 286: 'Perotto',
 287: 'Pietro Riario',
 288: 'child and minion of Sixtus IV . , whose beauty was equalled only by his debauchery , and who received Leonora of Aragon',
 289: 'Giambattista Cibo',
 290: 'Sigismondo Malatesta',
 291: 'Isotta',
 292: 'Polyssena',
 293: 'Ginevra',
 294: 'Charles VI',
 295: 'Grifonetto Baglioni',
 296: 'Astorre',
 297: 'Simonetto',
 298: 'Atalanta',
 299: 'The Renaissance',
 300: 'the French',
 301: 'Lord Staveley',
 302: 'Sir Henry Ashton',
 303: 'Lord Kent',
 306: 'Lord Gloucester',
 307: 'Alan Campbell',
 308: 'Mr. Campbell',
 309: 'Charpentier',
 310: 'Lacenaire',
 312: 'Poor Basil',
 313: 'the Hadjis',
 314: 'Rubinstein',
 315: 'Harden',
 316: 'Dear Lady Narborough',
 317: 'Ernest Harrowden',
 318: 'Lady Ruxton',
 319: 'Mrs. Erlynne',
 320: 'Lady Alice Chapman',
 321: 'Madame de Ferrol',
 322: 'Marguerite de Navarre',
 323: 'Debrett',
 324: '_ The Morning Post _',
 325: 'Sir Andrew',
 326: 'Mr. Chapman',
 327: 'Monmouth',
 328: 'the Willoughbys',
 329: 'Lord Rugby',
 330: 'Sir Geoffrey Clouston',
 331: 'Lord Grotrian',
 332: 'Some Malays',
 333: 'Darlington',
 334: 'destiny',
 335: 'Gladys',
 336: 'Prince Paradox',
 337: 'Royalties',
 338: 'Decay',
 339: 'Lady Hilstone',
 340: 'the Trojans',
 341: 'Courage',
 342: 'Harvey',
 343: 'Artemis',
 344: 'Poor Geoffrey',
 345: 'Thornton',
 346: 'Pray',
 347: 'Hetty Merton',
 348: 'Perdita',
 349: 'Poor Hetty',
 350: 'Velasquez',
 351: 'Marsyas',
 352: 'Browning',
 353: 'Lord Poole',
 354: 'Bournemouth',
 355: 'Lady Branksome',
 356: 'Youth',
 357: 'Vanity',
 2688: 'Monsieur',
 2689: 'Monsieur'}

In [6]:
from collections import defaultdict
import string


merged_idxs = set()
merged_coref_ids = defaultdict(list)

female_titles = [
    'Mrs.',
    'Lady',
    'Miss',
    'Aunt',
    'Duchess',
]

male_titles = [
    'Sir',
    'Mr.',
    'Lord',
    'Uncle',
]

neutral_titles_and_starters = [
    'Dr.',
    'Dear',
    'Poor',
    'Old',
]


# Merge characters based on titles
for i, (coref_id, base_name) in enumerate(characters.items()):
    
    if i in merged_idxs:
        continue
    
    try:
        base_split_name = base_name.split()

        base_titles = []
        base_gender = 'neutral'
        while base_split_name[0] in male_titles + female_titles + neutral_titles_and_starters:

            if base_split_name[0] in male_titles:
                base_gender = 'male'
                base_split_name = base_split_name[1:]
                base_titles.append(base_split_name[0])
            elif base_split_name[0] in female_titles:
                base_gender = 'female'
                base_split_name = base_split_name[1:]
                base_titles.append(base_split_name[0])
            else:
                base_split_name = base_split_name[1:]
                base_titles.append(base_split_name[0])
            
        base_forename = base_split_name[0]
        base_surname = base_split_name[-1]
            

        for j, (coref_id, other_name) in enumerate(characters.items()):
            
            if j in merged_idxs:
                continue
            
            if j <= i:
                continue
            other_split_name = other_name.split()
            
            other_titles = []
            other_gender = 'neutral'
            while other_split_name[0] in male_titles + female_titles + neutral_titles_and_starters:

                if other_split_name[0] in male_titles:
                    other_gender = 'male'
                    other_split_name = other_split_name[1:]
                    other_titles.append(other_split_name[0])
                elif other_split_name[0] in female_titles:
                    other_gender = 'female'
                    other_split_name = other_split_name[1:]
                    other_titles.append(other_split_name[0])
                else:
                    other_split_name = other_split_name[1:]
                    other_titles.append(other_split_name[0])

            other_forename = other_split_name[0]
            other_surname = other_split_name[-1]
            
            if base_gender == 'male' and other_gender == 'female' or base_gender == 'female' and other_gender == 'male':
                continue
            
            if other_forename != other_surname and base_forename != base_surname:
                if base_forename != other_forename or base_surname != other_surname:
                    continue
                else:
                    merged_idxs.add(j)
                    merged_coref_ids[i].append(j)
                    print(f'Merging1: {base_name} -> {other_name}')
                    continue
            
            # Otherwise gender is the same/neutral, if the forenames match we should merge
            
            if other_forename == base_forename:
                merged_idxs.add(j)
                merged_coref_ids[i].append(j)
                print(f'Merging2: {base_name} -> {other_name}')
    except Exception as e:
        pass

Merging2: Lady Agatha -> Aunt Agatha
Merging2: Lady Henry -> Henry VIII
Merging2: Lady Henry -> Henry II
Merging2: Miss Sibyl Vane -> Poor Sibyl
Merging2: Dear Basil -> Poor Basil
Merging2: Sir Geoffrey Clouston -> Poor Geoffrey
Merging2: Hetty Merton -> Poor Hetty
Merging2: Monsieur -> Monsieur

In [7]:
df_merged = df_characters[df_characters['COREF'].isin(list(characters.keys()))]
df_merged.COREF.unique().size

248

In [8]:
for coref_id, merged_coref_list in merged_coref_ids.items():
    for merged_coref_id in merged_coref_list:
        df_merged.loc[df_merged["COREF"] == merged_coref_id, "COREF"] = coref_id
    
df_merged.COREF.unique().size

244

In [9]:
min_mentions = 10

df_filtered = df_merged.groupby('COREF').filter(lambda x: len(x) > min_mentions)
df_filtered.COREF.unique().size

35

In [10]:
df_filtered

       COREF  start_token  end_token  prop  cat               text
4        112           77         79  PROP  PER  Lord Henry Wotton
6        112          156        156  PRON  PER                him
14       113          289        290  PROP  PER     Basil Hallward
27       113          396        396  PROP  PER              Basil
29       112          408        409  PROP  PER         Lord Henry
...      ...          ...        ...   ...  ...                ...
14196    307        95668      95668  PRON  PER                 he
14197    307        95674      95674  PRON  PER                 He
14215    115        95814      95816  PROP  PER    Mr. Dorian Gray
14232    268        95885      95885  PROP  PER            Francis
14233    268        95900      95900  PRON  PER                 he

[7153 rows x 6 columns]

In [11]:
df_filtered['character_name'] = df_filtered.COREF.map(lambda x: characters[x])

In [12]:
df_filtered

,COREF,start_token,end_token,prop,cat,text,character_name
4,112,77,79,PROP,PER,Lord Henry Wotton,Lord Henry Wotton
6,112,156,156,PRON,PER,him,Lord Henry Wotton
14,113,289,290,PROP,PER,Basil Hallward,Basil Hallward
27,113,396,396,PROP,PER,Basil,Basil Hallward
29,112,408,409,PROP,PER,Lord Henry,Lord Henry Wotton
...,...,...,...,...,...,...,...
14196,307,95668,95668,PRON,PER,he,Alan Campbell
14197,307,95674,95674,PRON,PER,He,Alan Campbell
14215,115,95814,95816,PROP,PER,Mr. Dorian Gray,Mr. Dorian Gray
14232,268,95885,95885,PROP,PER,Francis,Francis Osborne
14233,268,95900,95900,PRON,PER,he,Francis Osborne

In [13]:
df_filtered.to_csv('../data/DorianGray/processed_characters.csv')

PermissionError: [Errno 13] Permission denied: '../data/DorianGray/processed_characters.csv'